@page {
    margin: 0cm 0cm;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin-top: 1.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
}

header .img-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}

/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0cm;
    left: 2cm;
    right: 2cm;
    height: 3cm;
}

footer p {
    font-size: 10px;
}

table {
    width: 100%;
}

.body-main {
    width: 100%;
    padding-bottom: 0;
}

.text-bold {
    font-weight: bold;
}

hr.hr-oficio{
    height: 2px;
    background-color: #2e6da4;
    margin: 0 0;
}